In [21]:
import pandas as pd
import numpy as np

# How to create a DCF using Pandas and Jupyter

### 1) Cleaning up the data and organizing it in order to begin performing analyses later

In [4]:
# Import the csv data
dcf = pd.read_csv("~/workspace/csv_files/dcf-analysis_inputs.csv")
dcf.columns = ['Row', '2013', '2014', '2015', '2016', '2017', '2018', '2019',
       '2020', '2021', '2022']
dcf = dcf.set_index(["Row"])
dcf
tdcf={}

In [5]:
dcf.rename(index = {'( + ) Depreciation':'Depr','( – ) Capital expenditures':"capex",'( – ) Change in working capital':'wc', '( – ) Change in deferred taxes':"dt"}, inplace = True)

### 2) Create a dictionary with overall assumptions

In [6]:
assumptions = {
    "net debt": 25.6,
    "shares outstanding": 35.159,
    "tax rate": .35,
    "terminal multiple": 5,
    "terminal growth rate": .005,
    "WACC":.12,
}
assumptions

{'net debt': 25.6,
 'shares outstanding': 35.159,
 'tax rate': 0.35,
 'terminal multiple': 5,
 'terminal growth rate': 0.005,
 'WACC': 0.12}

### 3) Now begin adding rows to calculate unlevered free cash flow

In [7]:
dcf.loc['taxes']=dcf.loc['EBITA']*-assumptions['tax rate']
dcf

,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
Row,,,,,,,,,,
EBITDA,94.875000,155.900000,160.100000,161.261360,162.433088,163.615275,164.808015,166.011402,167.225531,168.450499
EBITA,82.692857,139.657143,143.857143,144.892637,145.937375,146.991438,148.054911,150.735021,152.353279,153.445487
Depr,12.182143,16.242857,16.242857,16.368723,16.495713,16.623836,16.753103,15.276381,14.872252,15.005012
capex,-12.750000,-18.000000,-19.000000,-19.169607,-19.340728,-19.513376,-19.687566,-19.863310,-20.040623,-20.219519
wc,1.955512,-3.790204,-1.293488,-0.410356,-0.414019,-0.417715,-0.421444,-0.425206,-0.429001,-0.432831
dt,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
taxes,-28.942500,-48.880000,-50.350000,-50.712423,-51.078081,-51.447003,-51.819219,-52.757257,-53.323648,-53.705920

In [8]:
dcf.loc['unlev_net_income']=dcf.loc['EBITA']+dcf.loc["taxes"]
dcf

,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
Row,,,,,,,,,,
EBITDA,94.875000,155.900000,160.100000,161.261360,162.433088,163.615275,164.808015,166.011402,167.225531,168.450499
EBITA,82.692857,139.657143,143.857143,144.892637,145.937375,146.991438,148.054911,150.735021,152.353279,153.445487
Depr,12.182143,16.242857,16.242857,16.368723,16.495713,16.623836,16.753103,15.276381,14.872252,15.005012
capex,-12.750000,-18.000000,-19.000000,-19.169607,-19.340728,-19.513376,-19.687566,-19.863310,-20.040623,-20.219519
wc,1.955512,-3.790204,-1.293488,-0.410356,-0.414019,-0.417715,-0.421444,-0.425206,-0.429001,-0.432831
dt,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
taxes,-28.942500,-48.880000,-50.350000,-50.712423,-51.078081,-51.447003,-51.819219,-52.757257,-53.323648,-53.705920
unlev_net_income,53.750357,90.777143,93.507143,94.180214,94.859294,95.544435,96.235692,97.977763,99.029631,99.739566

In [9]:
# Now to finanlly arrive at unlevered free cash flow
dcf.loc['unlev_fcf']=dcf.loc['unlev_net_income']+dcf.loc[['Depr', 'capex', 'wc', 'dt']].sum()
dcf

,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
Row,,,,,,,,,,
EBITDA,94.875000,155.900000,160.100000,161.261360,162.433088,163.615275,164.808015,166.011402,167.225531,168.450499
EBITA,82.692857,139.657143,143.857143,144.892637,145.937375,146.991438,148.054911,150.735021,152.353279,153.445487
Depr,12.182143,16.242857,16.242857,16.368723,16.495713,16.623836,16.753103,15.276381,14.872252,15.005012
capex,-12.750000,-18.000000,-19.000000,-19.169607,-19.340728,-19.513376,-19.687566,-19.863310,-20.040623,-20.219519
wc,1.955512,-3.790204,-1.293488,-0.410356,-0.414019,-0.417715,-0.421444,-0.425206,-0.429001,-0.432831
dt,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
taxes,-28.942500,-48.880000,-50.350000,-50.712423,-51.078081,-51.447003,-51.819219,-52.757257,-53.323648,-53.705920
unlev_net_income,53.750357,90.777143,93.507143,94.180214,94.859294,95.544435,96.235692,97.977763,99.029631,99.739566
unlev_fcf,55.138012,85.229796,89.456512,90.968975,91.600260,92.237180,92.879786,92.965629,93.432259,94.092228

### 4) Arriving at the Terminal Value and DCF Valuation (using Exit Multiple and Terminal Growth methods)

In [10]:
# DCF Valuation - Exit EBITDA Method. Assuming exit in 2017
exit_EBITDA = dcf["2017"].loc['EBITDA']*assumptions['terminal multiple']
exit_EBITDA

812.165438

In [11]:
dcf.loc['total_cash_EBITDA']=dcf.loc['unlev_fcf']
dcf['2017'].loc['total_cash_EBITDA'] +=exit_EBITDA
dcf.loc['total_cash_EBITDA']

2013     55.138012
2014     85.229796
2015     89.456512
2016     90.968975
2017    903.765698
2018     92.237180
2019     92.879786
2020     92.965629
2021     93.432259
2022     94.092228
Name: total_cash_EBITDA, dtype: float64

In [12]:
discounted_multiple = np.npv(assumptions["WACC"],dcf[['2013','2014','2015','2016','2017']].loc['total_cash_EBITDA'])
discounted_multiple

841.6595876111905

In [13]:
# DCF Valuation - Terminal Growth Method. Assuming exit in 2017
terminal_growth = dcf['2017'].loc['unlev_fcf']*(1+assumptions['terminal growth rate'])/(assumptions['WACC']-assumptions['terminal growth rate'])
terminal_growth

800.5066188289566

In [14]:
dcf.loc['total_cash_growth']=dcf.loc['unlev_fcf']
dcf['2017'].loc['total_cash_growth']+=terminal_growth
dcf.loc['total_cash_growth']

2013     55.138012
2014     85.229796
2015     89.456512
2016     90.968975
2017    892.106879
2018     92.237180
2019     92.879786
2020     92.965629
2021     93.432259
2022     94.092228
Name: total_cash_growth, dtype: float64

In [15]:
discounted_growth = np.npv(assumptions["WACC"],dcf[['2013','2014','2015','2016','2017']].loc['total_cash_growth'])
discounted_growth

834.2501972551397

In [16]:
#Value Per Share:
# Exit EBITDA Method
value_ps_multiple = discounted_multiple / assumptions['shares outstanding']
value_ps_multiple

23.938666845222862

In [19]:
# Terminal Growth Method
value_ps_growth = discounted_growth / assumptions['shares outstanding']
value_ps_growth

23.727927337385584

### 5) Applying Sensitivity Analyses

In [20]:
# Currently pending, still figuring that out

In [ ]:
def sensitivity_analysis (value,x,y):